<main>
        <p id="notice"></p>
        <div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM2F5QVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d91e31f37c65dfeaae8593b452e102b80525c235/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVdscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--4a929dbc7794f3c4610ba9ba5402762ad9cd1a14/default-image.jpg">
  <table class="table">
    <tbody><tr></tr>
    <tr>
  	  <th>name</th>
  	  <th><%= @user.name %></th>
    </tr>
    <tr>
  	  <th>introduction</th>
  	  <th><%= @user.introduction %></th>
    </tr>
    </tbody>
  </table>

<div class="row">
  <%= link_to edit_user_registration_path, class: "btn btn-outline-secondary btn-block " %>
</div>

<h2 class="mt-3">New book</h2>
<form action="/books" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="vj9SKxkznDhxMZJjjMDvFFaE2i7G9QcfN0WNhPkc85h8l25KbYnT7fkLf8w5FWYcOOnAEJr4IBgXEOt4xHWP8w" autocomplete="off">
  <div class="form-group">
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="form-group">
    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="form-group">
    <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
  </div>
</form>
</div>
    <div class="col-md-8 offset-md-1">

      <h2>Users</h2>

      <table>

        <thead>

          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan = "3"></th>
          </tr>

        </thead>

        <tbody>

          <% @users.each do |user| %>
            <tr>
                <td><%= image_tag user.get_image, class:"card-img-top"; %></td>
                <td><%= user.name %></td>
                <td>
                  <%= link_to "Show", user_path(user.id) %>
                </td>
            </tr>
          <% end %>

        </tbody>

      </table>
    </div>
  </div>
</div>
</main>